<head th:fragment="head">
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">	
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	<style>
		.logo-container {
			background-color: #47bcff;
			color: #FFF;
		}
		.logo {
			font-family: 'Handlee', cursive;
			font-size: 2.5rem;
		}
	</style>
</head>

<div th:fragment="logo" class="logo-container mb-3 p-3 d-flex justify-content-between">
	<span class="logo">mudi</span>
	<span class="mt-3">login</span>
</div>	

<div th:fragment="titulo(valor)" class="jumbotron mb-0">
	<h1 class="display-4" th:text="${valor}"></h1>
</div>