<html>
	<head th:replace="~{base :: head}"></head>
	<body>	
		<div th:replace="~{base :: logo}"></div>

		<div class="container">
			<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>
		
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="">Todos</a>
					<a class="nav-item nav-link" href="">Aguardando</a>
					<a class="nav-item nav-link" href="">Aprovado</a>
					<a class="nav-item nav-link" href="">Entregue</a>
				</div>
				<a href="/pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
			</nav>
		
			<div class="card mb-3" th:each="pedido : ${pedidos}">
				<div class="card-header" th:text="${pedido.nomeProduto}">Nome do Produto</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row ">
								<div class="col-md-5">Valor: <span th:text="${pedido.valorNegociado}">200,99</span></div>
								<div class="col-md-6">Data da entrega: <span th:text="${pedido.dataDaEntrega}">10/02/2020</span></div>
							</div>
							
							<div>Produto</div> 
							<div> <input class="form-control" th:value="${pedido.urlProduto}" value="url do produto" /></div>
							 
							<div>Descrição</div>
							<div>
								<textarea class="form-control" th:text="${pedido.descricao}">descrição do pedido</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src="${pedido.urlImagem}" src="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>