<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div th:each="pedido : ${pedidos}">
			<div th:text="${pedido.nomeProduto}">Nome do Produto</div>
			<div>Valor: <span th:text="${pedido.valorNegociado}">200,99</span></div>
			<div>Data da entrega: <span th:text="${pedido.dataDaEntrega}">10/02/2020</span></div>
			
			<div>Produto</div>
			<div> <input th:value="${pedido.urlProduto}" value="url do produto" /></div>
			
			<div>Descrição</div>
			<div>
				<textarea th:text="${pedido.descricao}">descrição do pedido</textarea>
			</div>
			
			<div>
				<img th:src="${pedido.urlImagem}" />
			</div>
		</div>
	</body>
</html>